<div class="rectangle-9">
  <p><%= @ask %></p>
  <p>- You</p>
</div>

<div class="rectangle-9" style="background-color:#FFFFE1;">
  <p><%= @answer %></p>
  <p>- Your Coach</p>
</div>
<%= link_to "Ask anything else->", ask_path, class: "text-decoration-none"%>
